.rightcontent{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-right: 26px;
    margin-top: 50px;
    /* border: 2px solid blue; */
    align-content: center;
}

.ui.icon.input>input {
    padding-right: 2.67142857em!important;
    border: 2px solid blue;
    width: 300px;
    height: 50px;
}

.image{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin-top: 50px;
}

.leftcontent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
}

